---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <section>
                <ul class="flex flex-col gap-1 list-none">
                    {
                        posts.map((post) => (
                            <li class="flex flex-col md:flex-row-reverse md:justify-end md:items-baseline md:gap-2">
                                <a href={post.url}>{post.frontmatter.title}</a>
                                <time
                                    datetime={post.frontmatter.pubDate}
                                    class="text-slate-500 font-mono text-sm"
                                >
                                    {new Date(
                                        post.frontmatter.pubDate
                                    ).toLocaleDateString("en-us", {
                                        year: "numeric",
                                        month: "short",
                                        day: "2-digit",
                                    })}
                                </time>
                            </li>
                        ))
                    }
                </ul>
            </section>
            <Footer />
        </main>
    </body>
</html>
