---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
    };
}

const {
    content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<html>
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="max-w-prose">
        <Header />
        <main>
            <article>
                <h1 class="title">{title}</h1>
                {pubDate && <time>{pubDate}</time>}
                {
                    updatedDate && (
                        <div>
                            Last updated on <time>{updatedDate}</time>
                        </div>
                    )
                }
                <hr />
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
